// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// @media(min-width: 1200px) {
//     .container {
//         max-width: 922px;
//     }
// }

// #navbarSupportedContent {
//     @media(max-width: 1000px) {
//         padding: 20px;
//         width: 100%;
//         height: 100vh;
//         position: fixed;
//         top: 0;
//         left: 0;
//     }
// }

.navbar {
    transition-duration: 0.3s;
}

.navbar.navbar-border-bottom {
    border-bottom: 1px solid white;
}

.shadow {
    box-shadow: #555 3px 3px 10px;
}

.heading {
    background-image: linear-gradient(to bottom, #1e88e5, rgba(30, 136, 229, 0.5), rgba(30, 136, 229, 0.2)), url('/img/heading.jpg'); 
    background-position: bottom;
    background-size: cover;
    height: 400px; 
    width: 100%; 
    position: relative; 
    top: 0; 
    left: 0;
    overflow: hidden;
    .heading-image {
        width: 100%;
        bottom: 0px;
    }
}

// #highlight {
//     position: absolute; 
//     width: 100%;
//     display: flex;
//     justify-content: center;
//     bottom: 10px;
//     .carousel-inner {
//         max-width: 800px;
//         max-height: 300px;
//         overflow: hidden;
//         z-index: 2;
//         box-shadow: #555 3px 3px 10px;
//         .carousel-item {
//             img {
//                 width: 100%;
//                 height: auto;

//                 @media(max-width: 800px) {
//                     height: 100%;
//                     width: auto;
//                 }
//             }
//         }
//     }
//     .carousel-control-prev, .carousel-control-next {
//         z-index: 3;
//     }
//     .carousel-caption {
//         top: 180px;
//     }
// }

#path1 {
    position: absolute;
    bottom: 0px;
    width: 100%;
    z-index: 1;
}